[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langserve = {extras = ["all"], version = "*"}
langchain-core = "*"
langgraph = ">=0.2.27"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
